<p><%= @restaurant.name %></p> 
<p><%= @reservation.party_size %></p>
<p><%= @reservation.party_time %></p>
<p><%= link_to "Delete Reservation", @reservations, :confirm => "Are you sure?", :method => :delete %></p>