<h2>All Restaurants</h2>

<% @restaurants.each do |restaurant| %>
  <p><%= restaurant[:name] %> <%= link_to "Reserve", restaurant_path(restaurant) %></p>
  <p><%= restaurant[:description] %></p>
<% end %>
